$desktop: 1100px;
$laptop: 900px;
$tablet: 600px;
$mobile: 300px;

@mixin mobile {
    @media(min-width: #{$mobile}) {
        @content;
    }
}

@mixin tablet{
    @media(min-width: #{$tablet}) {
        @content;
    }
}

@mixin laptop{
    @media(min-width: #{$laptop}) {
        @content;
    }
}

@mixin desktop{
    @media(min-width: #{$desktop}) {
        @content;
    }
}