@import "_variables.scss";

html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
  background-color: color(main-background);
  height: 95vh;
}

.start{
	text-align: center;
}

#start-message{
  color: color(prime-color);
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

#start-button {
	box-shadow: 3px 4px 0px 0px color(second-color-underlay);
	background-color: color(second-color);
	border-radius:5px;
	border:1px solid color(second-color-overlay);
	display:inline-block;
	cursor:pointer;
	color:color(white);
	font-family:Arial;
	font-size: 1.7rem;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px color(second-color-overlay);
}

#start-button:hover {
	background-color: color(second-color-overlay-dk);
}
#start-button:active {
	position:relative;
	top:1px;
}

.question{
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.quiz-container{
	text-align: center;
}

.answer-btns{
	display: flex;
	flex-direction: column;
	width: 70vw;
	text-align: center;
	margin-left: 15%;

	@include desktop{
		width: 20vw;
		margin-left: 45%;
	}
}

.ans{
	height: 4vh;
	width: 70vw;
	margin-top: 2rem;
	background-color: #0a97b7;
	border-radius: 10px;

	@include desktop{
		width: 10vw;
	}
}