:root{
  --main-background: #fceebf;
  --second-color: #fea360;
  --second-color-overlay: #ed783d;
  --second-color-underlay: #f1651d;
  --second-color-overlay-dk: #fc8260;
  --white: #ffffff;
  --prime-color: #0a97b7;
}

body {
  background-color: var(--main-background);
  height: 95vh;
}

#start-message{
  color: var(--prime-color);
}

#start-button {
	box-shadow: 3px 4px 0px 0px var(--second-color-underlay);
	background-color: var(--second-color);
	border-radius:5px;
	border:1px solid var(--second-color-overlay);
	display:inline-block;
	cursor:pointer;
	color:var(--white);
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px var(--second-color-overlay);
}

#start-button:hover {
	background-color: var(--second-color-overlay-dk);
}
#start-button:active {
	position:relative;
	top:1px;
}